<div id="content">
  <div class="container">
    <div class="col-md-10">
      <div class="row">
        <div class="heading-title">
          <h2><%= current_user.account.first_name %> xRinch blog</h2>
          <%= link_to 'New Blog Post', new_blog_path, class: "btn btm-primary" %>
        </div>
      </div>
      <% @blogs.each do |blog| %>
      <div class="col-md-4">
        <div class="post-container">
          <div class="post-content">
            <h3><%= link_to blog.title, blog_path(blog) %></h3>
            <p class="blog-post-meta"><small><%= blog.created_at.strftime("%a %b %d, %Y") %></small>
            by <%= blog.user.account.first_name %></p>
            <p><%= truncate(simple_format(blog.description), escape: false, length: 100) %></p>
            <p></p>
              <%= link_to 'View Post', blog_path(blog) %>
          </div>
        </div>
      </div>
      <% end %>
      <hr>
    </div>  
  </div>
</div>
<!-- end:content --