<!-- begin:content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
        <div class="post-container">
          <div class="post-content">
            <div class="form-signin">
              <div class="heading-title">
                <h3><i class="fa fa-lock"></i> Sign in</h3>
              </div>
              <p>Sign in using your registered account.</p>
                <form class="form-horizontal" role="form">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-paw"></i></span>
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username" %>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                  </div>
                  <% if devise_mapping.rememberable? %>
                  <div class="checkbox">
                    <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me %>remember me
                    <% end %>
                  </div>
                    <% end %>
                    <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>
                  <% end %>
                  <div>
                    <%= render "devise/shared/links" %>
                  </div>
                </form>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:content -->

