<!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          
          <%= render 'shared/profile_bar' %>
          <!-- break -->
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="post-container">
              <div class="post-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title">
                      <h3>About</h3>
                      <hr>
                      <h2><%= @account.first_name %> <%= @account.last_name %></h2>
                    </div>
                    <p><%= @account.description %></p>
                  </div>
                </div>
                <!-- break -->
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <div class="heading-title">
                      <p><h2>Portfolio</h2></p>
                        <%= render 'portfolios/container' %>
                    </div>
                  </div>
                </div>
                <!-- break -->
                

                
                  <div class="col-md-12">
                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
                  <!-- break -->
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- end:content -->